<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PerRec - Visualization for Transparency</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <!-- Demo Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Link Bootstrap -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <!-- Link simple flow stylesheet -->
  <link rel="stylesheet" href="css/simple-flow.min.css">
  <script>
    Holder.addTheme("white", {
      bg: "#fff",
      fg: "#a7a7a7",
      size: 10
    });
  </script>


  <!-- Add jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
  </script>
  <!-- Add simple flow -->
  <script src="js/simple-flow.min.js"></script>
  <!-- keen-analysis@3-->
  <script src="https://cdn.jsdelivr.net/npm/keen-analysis@3/dist/keen-analysis.min.js" type="text/javascript"></script>

  <!-- keen-dataviz@3 -->
  <link href="https://cdn.jsdelivr.net/npm/keen-dataviz@3/dist/keen-dataviz.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/keen-dataviz@3/dist/keen-dataviz.min.js" type="text/javascript"></script>

  <!-- Dashboard -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
</head>

<body class="keen-dashboard">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">PerRec</a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav nav main-nav">
          <li><a href="#">Visualization Guildelines</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <form class="navbar-search navbar-right">
        <div class="input-group">
            <input id="search" type="text" name="keyword" placeholder="Search" class="form-control">
              <!--<span class="input-group-btn">
                <button class="btn btn-default">Go</button>
                  </span>-->
        </div>
      </form>
    </div>
  </div>
<table>
   <caption>Recommended Visualizations</caption>
   <tr>
      <th>Chart</th>
      <th>Type of Chart</th>
      <th>Description</th>
      <th>Relevance Score</th>
      <th>Overall Rating</th>
   </tr>

   <tr>
      <td><div id="chart1">
        <!--<img src="../../screenshots/piechart.png" alt="pie">-->
        <script src="https://d3js.org/d3.v3.min.js"></script>  
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>
var width = 500,
height = 400,
radius = Math.min(width, height) / 2;

var color = d3.scale.category20c();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.population; });         

var tip1 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>Population:</strong> <span style='color:red'>" + d.population + "</span>";
  })

var svg1 = d3.select("#chart1").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.csv("data.csv", type, function(error, data) {
  if (error) throw error;
  
  console.log(pie(data))    

  var g = svg1.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc")
      .on('mouseover', tip1.show)
      .on('mouseout', tip1.hide);

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.age); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .text(function(d) { return d.data.age; });
});

function type(d) {
  d.population = +d.population;
  return d;
} 

</script>
  </div></td>
      <td>Pie Chart</td>
      <td class="overflow-wrap-hack" style="width:20%">
      <div class="content">This is the recommended visualization based on dataset you uploaded and your preferences.
      </div>
      </td>
      <td><script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
//am4core.useTheme(am4themes_animated);
// Themes end

/* Create chart instance */
var chart = am4core.create("chartdiv", am4charts.RadarChart);

/* Add data */
chart.data = [{
  "Trait": "Extraversion",
  "Score": 4.0
}, {
  "Trait": "Agreeableness",
  "Score": 3.4
}, {
  "Trait": "Openness",
  "Score": 4.9
}, {
  "Trait": "Neuroticism",
  "Score": 2.5
}, {
  "Trait": "Conscientiousness",
  "Score": 3.7
}];

/* Create axes */
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "Trait";

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.axisFills.template.fill = chart.colors.getIndex(2);
valueAxis.renderer.axisFills.template.fillOpacity = 0.05;

/* Create and configure series */
var series = chart.series.push(new am4charts.RadarSeries());
series.dataFields.valueY = "Score";
series.dataFields.categoryX = "Trait";
series.name = "Personality Score";
series.strokeWidth = 1;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div></td>
      <td> <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></td>
   </tr>
   <tr>
      <td><div id="chart2">
      <script src="https://d3js.org/d3.v3.min.js"></script>  
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <!--<img src="../../screenshots/barchart.png" alt="bar">-->
        <!--<img data-src="holder.js/100px350?theme=white">-->
<script>

var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 400 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// Parse the date / time
//var parseDate = d3.time.format("%Y-%m").parse;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>Population:</strong> <span style='color:red'>" + d.population + "</span>";
  })

var svg2 = d3.select("#chart2").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

svg2.call(tip);

d3.csv("data.csv", function(error, data) {

    data.forEach(function(d) {
        d.age = d.age;
        d.population = +d.population;
    });
  
  x.domain(data.map(function(d) { return d.age; }));
  y.domain([0, d3.max(data, function(d) { return d.population; })]);

  svg2.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg2.append("g")
      .attr("class", "y axis")
      //.call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "1.0em")
      .style("text-anchor", "end")
      .text("Population");

  svg2.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { return x(d.age); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.population); })
      .attr("height", function(d) { return height - y(d.population); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide);

});

</script>
</div></td>
      <td>Bar Chart</td>
      <td class="overflow-wrap-hack" style="width:20%">
        <div class="content">This is an alternative visualization based on your personality profile. 
        </div></td>
      <td><script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
//am4core.useTheme(am4themes_animated);
// Themes end

/* Create chart instance */
var chart2 = am4core.create("chartdivv", am4charts.RadarChart);

/* Add data */
chart2.data = [{
  "Trait": "Extraversion",
  "Score": 3.5
}, {
  "Trait": "Agreeableness",
  "Score": 4.6
}, {
  "Trait": "Openness",
  "Score": 2.3
}, {
  "Trait": "Neuroticism",
  "Score": 3.8
}, {
  "Trait": "Conscientiousness",
  "Score": 2.9
}];

/* Create axes */
var categoryAxis = chart2.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "Trait";

var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.axisFills.template.fill = chart2.colors.getIndex(2);
valueAxis.renderer.axisFills.template.fillOpacity = 0.05;

/* Create and configure series */
var series = chart2.series.push(new am4charts.RadarSeries());
series.dataFields.valueY = "Score";
series.dataFields.categoryX = "Trait";
series.name = "Personality Score";
series.strokeWidth = 1;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdivv"></div></td>
      <td><span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span></td>
   </tr>     
</table>
</body>
</html>